<ion-pane ng-controller="addPill">

  <ion-header-bar class="bar-stable bar-positive">
    <ionic-nav-back-button class="button button-clear" ng-click="back()"><i class="ion-arrow-left-c"></i> Back</ionic-nav-back-button>
    <h1 class="title title-center">Add A Medication</h1>
  </ion-header-bar>

  <ion-content>

    <div class="list">

      <label class="item item-input">
        <span class="input-label">Medication</span>
        <input type="text" placeholder="Name of Medication" ng-model="medData.name" class="align-right" />
      </label>

      <label class="item item-input item-select">
        <span class="input-label align-right">Type</span>
        <select ng-model="medData.type">
          <option>Medication</option>
          <option>Supplement</option>
        </select>
      </label>

      <label class="item item-input" ion-datetime-picker date am-pm ng-model="medData.date">
        <span class="input-label">Date</span>
        <div>
          <i class="icon ion-ios-calendar positive"></i>
          <strong>{{ medData.date }}</strong>
        </div>
      </label>

      <label class="item item-input" ion-datetime-picker time ng-model="medData.time">
        <span class="input-label">Time</span>
        <div>
          <i class="icon ion-clock positive"></i>
          <strong>{{ medData.time }}</strong>
        </div>
      </label>

      <label class="item item-input item-select">
        <span class="input-label align-right">Frequency</span>
        <select ng-model="medData.repeat">
          <option>Every Day</option>
          <option>Once a week</option>
          <option>Every two weeks</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">Amount</span>
        <input type="number" ng-model="medData.amount">
      </label>

      <input class="addpill-submit button button-block button-positive col col-90 align-center large" type="submit" ng-click="submit()"></input>

    </div>

  </ion-content>

</ion-pane>
