/* Empty. Add your own CSS if you like */

.medication {
  border-top: 6px solid #673AB7;
}

.medication p {
  font-size: 1.2em;
}

.medication h1 {
  color: #673AB7;
  font-size: 2.4em;
  font-weight: 400;
}

.supplement {
  border-top: 6px solid #ff4081;
}

.supplement p {
  font-size: 1.2em;
}

.supplement h1 {
  color: #ff4081;
  font-size: 2.4em;
  font-weight: 400;
}

.bar.bar-stable {
  border-color: #673AB7;
  background-color: #673AB7;
  background-image: linear-gradient(0deg, #673AB7, #673AB7 50%, transparent 50%);
  color: #444;
}

.bar.bar-stable .title {
  color: #444;
}

.bar.bar-stable.bar-footer {
  background-image: linear-gradient(180deg, #673AB7, #673AB7 50%, transparent 50%);
}

.bar.bar-positive .title {
  color: #fff;
  font-size: 24px;
}

.bar.bar-positive.bar-footer {
  background-image: linear-gradient(180deg, #673AB7, #673AB7 50%, transparent 50%);
}

.add-button {
  font-size: 4em;
  position: fixed;
  bottom: 10px;
  right: 14px;
  color: #673AB7;
}

.smsbtn {
  font-size: 4em;
  color: #673AB7;
  position: fixed;
  bottom: 10px;
  left: 14px;
}

.align-right {
  float: right;
}

.align-center {
  margin: auto;
  width: 60%;
  padding: 6px;
}

.center-align {
  display: inline;
}

.title-align-center {
  margin: auto;
}

.large {
  font-size: 24px;
}

label {
  text-align: left;
}

input {
  text-align: right;
}

.center-box {
  line-height: 33.0110100001100101011011000110110001101111001000000111011101101111011100100110110001100100px;
  width: 100%;
  height: 80px;
}

.line-med {
  line-height: 28.5px;
}

.room {
  margin: 30px 15px 0px 15px;

}

.bottom {
  position: fixed;
  bottom: 41.61px;
}
